.Book {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 120px;
  height: 200px;
  padding: 12px;
  background-color: rgb(252, 204, 204);
  border-radius: 14px;
  font-size: 0.8rem;
  transition: background 0.35s;
  cursor: pointer;
  font-family: "Instrument Serif", serif;
  text-align: center;

  a {
    color: #073b4c;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    background-color: #ef476f;
  }

  .image {
    width: 100px;
    height: 160px;
    border-radius: 14px;
    transform: translate(-0px, -30px);
  }

  .title {
    margin: 0;
    font-weight: bold;
  }

  .author {
    font-size: 0.6rem;
    margin: 4px 0px;
    text-transform: uppercase;
  }
}
