<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/altro_style.css" />
    <title>ALTRO</title>
  </head>
  <body>
    <h1>Esplora</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe molestias
      dicta est at in dolore aspernatur incidunt maxime reprehenderit ullam
      laudantium ex sint necessitatibus quia, doloremque, ab odit, officiis
      iusto ipsam. Mollitia alias facere eius, iusto voluptas reiciendis, minima
      ipsam totam, explicabo laudantium deserunt laborum dolore maxime nesciunt
      ex cumque commodi soluta at! Adipisci fugiat repellat voluptatem dolore
      hic incidunt quos. Soluta, laborum atque! Dolores fugiat nihil accusantium
      dignissimos beatae nostrum aliquam sunt quis corporis hic enim, assumenda
      maxime. Reprehenderit ea vero repellat culpa nostrum?</p>
    <div class="filters">
      <a href="/altro/genere"><button id="btnGenre">Genere</button></a>
      <a href="/altro/autore"><button id="btnAuthor">Autore</button></a>
      <a href="/altro/anno"><button id="btnYear">Anno</button></a>
      <a href="/altro/valutazione"><button
          id="btnRating"
        >Valutazione</button></a>
    </div>
  </body>
</html>