<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <a href="/altro/anno/1600"><button>fino al 1699 </button></a>
    <a href="/altro/anno/1700"><button>1700 - 1799 </button></a>
    <a href="/altro/anno/1800"><button>1800 - 1899</button></a>
    <a href="/altro/anno/1900"><button>1900 - 1999</button></a>
    <a href="/altro/anno/2000"><button>2000 - 2099</button></a>
  </body>
</html>