<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/autore_style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ricerca per {{title}}</h1>
    <form action="/altro/autore/risultati-ricerca" method="get">
      <label for="search">Cerca:</label>
      <input type="text" id="search" name="q" placeholder="Cerca qualcosa..." />
      <input type="submit" value="Cerca" />
    </form>
  </body>
</html>