<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/genere_style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ricerca per genere</h1>
    <a href="genere/fantasy"><button>Fantasy</button></a>
    <a href="genere/distopia"><button>Distopia</button></a>
    <a href="genere/romanzo"><button>Romanzo</button></a>
    <a href="genere/letteratura"><button>Letteratura</button></a>

  </body>
</html>