<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/valutazione_style.css" />
    <title>{{title}}</title>
  </head>
  <body>

    <h1>Visualizza i titoli in base alla {{title}}</h1>
    <div class="main_box">
      <div class="cerchio"><a href="/altro/valutazione/1"> * </a></div>
      <div class="cerchio"><a href="/altro/valutazione/2"> * * </a></div>
      <div class="cerchio"><a href="/altro/valutazione/3"> * * * </a></div>
      <div class="cerchio"><a href="/altro/valutazione/4"> * * * * </a></div>
    </div>
  </body>
</html>