body {
  background-color: whitesmoke;
  text-align: center;
}
h1 {
  text-align: center;
}
button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: grey;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: black;
}
