@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
body {
  margin: 0;
  background-image: url("https://img.freepik.com/premium-vector/education-pattern-seamless-vector-design-back-school-hand-drawn-background_87543-9246.jpg?w=900");
  background-repeat: round;
}
