.AboutNavBar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: beige;
  transition: color 3s;

  h1:hover {
    color: #a9c5a0;
  }
  h1 {
    color: #c5efcb;
  }
  h2 {
    color: #758173;
  }
  p {
    font-style: italic;
  }
}

.Contact_Link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  padding: 10px;
  text-decoration: none;
}

.Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
