$primary-text-color: #f90093;
$secondary-text-color: #c60f7b;
$primary-background-color: #fbf5f0;
$secondary-background-color: #d6d1cd;
$tertiary-background-color: #969a97;
$warning-color: #ff3e41;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$font-size-base: 16px;
