/* 
PALETTE  
VIOLETTO  #9B5DE5 
ROSA      #F15BB5
GIALLO    #FEE440
AZZURRO   #00BBF9
VERDINO   #00F5D4 
    
*/

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /*poivedisefunzionaveramente*/
}

img {
  display: block;
}

body {
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mainheader {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #fee440;
}

.header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.navmenu ul li a {
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.a1:hover {
  color: #f15bb5;
  text-decoration: none;
}
.a2:hover {
  color: #00bbf9;
  text-decoration: none;
}
.a3:hover {
  color: #9b5de5;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

main {
  background-color: #00f5d4;
}
.section1 {
  padding-top: 150px;
}

.hero-container {
  padding-top: 50px;
  height: 600px;
}

.hero-image {
  width: 90px;
  height: 80px;
}
.accauno {
  font-size: 28px;
  color: #fffeef;
}

.hero-text {
  color: #9b5de5;
}

.hero1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

@keyframes anim-stop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.hero-stop {
  animation: anim-stop 1s 2s alternate infinite ease;
}

.secondsection {
  background-color: #00bbf9;
  display: flex;
  align-content: center;
  padding: 10px 0px 10px 0px;
}

.sectionimage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.sectiontext {
  width: 100%;
  text-align: center;
  padding-top: 35px;
  color: #fffeef;
}

.ptext {
  margin-top: 20px;
}

.buttontext {
  margin: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #f15bb5;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #fee440;
  padding: 20px 0px 20px 0px;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

.firstadvace {
  background-color: #f15bb5;
  display: flex;
  justify-content: space-around;

  padding: 10px 0px 30px 0px;
}

.advancetitlebottom {
  width: 100%;
  text-align: center;
  color: #fffeef;
}

.advancep {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fffeef;
}

.cuorerosso {
  display: flex;
  justify-content: center;
}

.cuorenero {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
@media only screen and (max-width: 768px) {
  .advancep {
    display: none;
  }

  .secondsection {
    display: block;
  }
}

.finalsection {
  background-color: #00f5d4;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  border: 1px solid black;
  margin: 10px;
  max-width: 251px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  color: #fffeef;
}

section article h5 {
  text-align: center;
  font-style: bold;
}

section article p {
}
