.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Hero img {
  width: 25%;
}
.Hero_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Hero_text button {
  width: 150px;
}
