.PokedexImg {
  width: 70px;
}
.BoxTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  font-size: 11px;
}
.BoxPara {
  margin-left: 10px;
  font-size: 10px;
}
